<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" href="../../static/images/logo/white.png" type="image/x-icon" />
    <title>NxtHome - Plan Your Home</title>
    <!-- Bootstrap CSS | JS | Icons CDN links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- jQuery Reference -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- External CSS -->
    <link href="../../static/css/common.css" rel="stylesheet">  
    <link href="../../static/css/planning.css" rel="stylesheet">       
    <!-- External JS -->
    <script src="../../static/js/planning.js"></script>
    <!-- Naming convension:
    IDs - underscore(_)
    Class - dash(-) -->
</head>
<body>
    <!-- Navbar -->
    <nav></nav>
    <!-- Main body content -->
    <main class="m-auto text-center">
        <h1>Plan Your Home</h1>
        <h5>Please fill the information</h5>
        <hr>
        <form id="plan_form" class="m-auto">
            <!-- Basic Information -->
            <div class="form-group">
                <h3>Basic Information</h3>
                <div class="row my-3">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
                            <label for="first_name">First Name</label>
                            <div class="invalid-feedback" id="first_name_error">
                                Please enter valid first name
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
                            <label for="last_name">Last Name</label>
                            <div class="invalid-feedback" id="last_name_error">
                                Please enter valid last name
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <!-- change email value from login -->
                    <input type="email" class="form-control" id="email_address" name="email_address" placeholder="Email Address" value="test@gmail.com" readonly>
                    <label for="email_address">Email address</label>
                    <div class="invalid-feedback" id="email_address_error">
                        Please enter valid email address
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="Phone Number">
                    <label for="phone_number">Phone Number</label>
                    <div class="invalid-feedback" id="phone_number_error">
                        Please enter valid phone number
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" placeholder="Date Of Birth">
                    <label for="date_of_birth">Date Of Birth</label>
                    <div class="invalid-feedback" id="date_of_birth_error">
                        Please select valid date of birth
                    </div>
                </div>
            </div>
            <!-- Financial Details -->
            <div class="form-group">
                <h3>Financial Details</h3>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" placeholder="Total home savings to date" aria-label="Amount (to the nearest dollar)" id="total_savings" name="total_savings"> 
                    <span class="input-group-text">.00</span>
                </div>
                <select class="form-select mb-3" aria-label="Select example" id="monthly_income" name="monthly_income"> 
                    <option selected>Select monthly income</option>
                    <option value="1000">$0 - $2000</option>
                    <option value="3000">$2001 - $4000</option>
                    <option value="5000">$4001 - $6000</option>
                    <option value="7000">$6001 - $8000</option>
                    <option value="9000">$8001 - $10000</option>
                    <option value="12500">$10001 - $15000</option>
                    <option value="17500">$15001 - $20000</option>
                    <option value="20000">greater than $20000</option>
                </select>
                <select class="form-select" aria-label="Select example" id="monthly_savings" name="monthly_savings">
                    <option selected>Choose monthly home savings</option>
                    <option value="10">10% of income</option>
                    <option value="20">20% of income</option>
                    <option value="30">30% of income</option>
                    <option value="40">40% of income</option>
                    <option value="50">50% of income</option>
                    <option value="60">60% of income</option>
                    <option value="70">70% of income</option>
                    <option value="80">80% of income</option>
                    <option value="90">90% of income</option>
                    <option value="100">100% of income</option>
                </select>
            </div>
            <!-- Housing Preferences -->
            <div class="form-group">
                <h3>Housing Preferences</h3>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="city_location" name="city_location" placeholder="City Location">
                    <label for="city_location">City Location</label>
                </div>
                <select class="form-select mb-3" aria-label="Select example" id="property_type" name="property_type">
                    <option selected>Type of property</option>
                    <option value="house">House</option>
                    <option value="apt">Apartment</option>
                    <option value="condo">Condo</option>
                </select>
                <div class="d-flex inline">
                    <label>Type of House: </label>
                    <div class="ms-3 form-check">
                        <input class="form-check-input" type="radio" name="house_type" value="attached">Attached
                    </div>
                    <div class="ms-3 form-check">
                        <input class="form-check-input" type="radio" name="house_type" value="detached">Detached
                    </div>
                    <div class="ms-3 form-check">
                        <input class="form-check-input" type="radio" name="house_type" value="semi_detached">Semi-Detached
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="bedrooms" name="bedrooms" placeholder="Total Bedrooms">
                            <label for="bedrooms">Total Bedrooms</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="washrooms" name="washrooms" placeholder="Total Washrooms">
                            <label for="washrooms">Total Washrooms</label>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="garage" name="garage" placeholder="Total Garage">
                            <label for="garage">Total Garage</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="parking" name="parking" placeholder="Total Parking Space">
                            <label for="parking">Total Parking Space</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Financial Goals -->
            <div class="form-group">
                <h3>Financial Goals</h3>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" placeholder="Desired budget for the property" aria-label="Amount (to the nearest dollar)" id="budget" name="budget"> 
                    <span class="input-group-text">.00</span>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" placeholder="Target down payment amount" aria-label="Amount (to the nearest dollar)" id="down_payment" name="down_payment"> 
                    <span class="input-group-text">.00</span>
                </div>
                <select class="form-select mb-3" aria-label="Select example" id="mortgage_terms" name="mortgage_terms">
                    <option selected>Desired mortgage term</option>
                    <option value="1">1 year (12 monnths)</option>
                    <option value="2">2 years (24 months)</option>
                    <option value="2.5">2.5 years (30 months)</option>
                    <option value="3">3 years (36 months)</option>
                    <option value="3.5">3.5 years (42 months)</option>
                    <option value="4">4 years (48 months)</option>
                    <option value="4.5">4.5 years (54 months)</option>
                    <option value="5">5 years (60 months)</option>
                </select>
            </div>
            <div class="btn-toolbar d-flex justify-content-center mt-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-primary" id="previous_btn">Previous</button>
                    <button type="button" class="btn btn-primary" id="next_btn">Next</button>
                </div>
            </div>    
        </form>
    </main>    
    <!-- Footer -->
    <footer></footer>
</body>
</html>